<!DOCTYPE html>
<html lang="en">
<%-include('commons/header')%>
<body>
    
    <header class="header">
        <%-include('commons/topnav')%>
        
        <%-include('commons/nav')%>
    </header>

    <center><h1>employer welcome</h1></center>
        <center><h1><%=sessionData.name%></h1></center>

        <a href="/emp/logout">logout</a>

<%-include('commons/footer')%>
    
</body>
</html>